/* == relative and absolute view design [About us + know more] ==== */
.blog-mainDiv {
  /* height:window.innerHeight, */
  background-color: #272727;
  position: relative;
  padding-bottom: 50px;
}
.customFont {
  font-size: 7rem;
  color: white;
  padding-top: "6%";
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  opacity: 0.05;

  @media screen and (max-width: 768px) {
    font-size: 4rem;
  }
}
.blog-subDiv {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  height: 200px;
}
