/* Header.css */
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  font-size: 16px;
  margin: 0 10px;
  text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: #ff0000; /* Custom highlight color */
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #ff0000;
  /* Custom hover effect */
  /* color: #000; */
  /* Custom hover effect */
}

.navbar-dark .navbar-brand {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-dark .navbar-nav {
  gap: 15px;
}

.navbar-dark .navbar-nav .nav-link i {
  margin-right: 5px;
}

.social-icons .nav-link {
  font-size: 20px;
  margin-left: 15px;
}
.navbar-dark {  
    background-color: #272727 !important;
}

@keyframes fadeSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.header-animated {
  animation: fadeSlideDown 1s ease-in-out forwards;
  opacity: 0; /* Initially hidden before animation */
  /* top:60px; */
}

.test {
  padding-left: 15px;
}

.navbar-toggler{
    margin:0px;
    border: 0px !important;
    height: 35px;
    width: 35px;
    margin-right: 10px;
}
